body{
    background-color: #000;
}
.hd{
    margin-top: 30vh;
    margin-left: 44%;
    color: #ffffff;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.count{
    font-size: 80px;
    color: #ffffff;
    margin-left: 48%;
}
.btnn{
    padding: 12px;
    font-size: 30px;
    font-weight: bolder;
    color: #000;
    box-shadow: 1px 1px 3px 2px whitesmoke;
}
.btn-i{
    margin-left: 30%;
    margin-right: 10px;
    margin-top: 10px;
}
.btn-r{
    margin-left: 10px;
    margin-right: 10px;
}
.btn-d{
    margin-left: 10px;
    margin-right: 10px;

}